.container {
  padding: 0 2rem;
  text-align: center;

  .title {
    font-size: 42px;
  }

  .subTitle {
    font-size: 22px;
  }

  .phantomConnect {
    font-weight: 400;
  }

  .nftImage {
    width: 250px;
    border-radius: 5px;
  }
}